*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: black;
}
div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h1{
    font-size:xx-large;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
    color: white;
    letter-spacing: .2rem;
}
#otp{
    margin-top: 1rem;
    letter-spacing: 1rem;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 1rem;
    color: white;
}
.before{
    font-size: 3rem;
}
.otp{
    font-size: 3.1rem;
    color:aqua;
}
#button{
    margin-top: 1rem;
    width: 10em;
    height: 5%;
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    color: white;
    border: none;
    background-color: rgba(225, 0, 255, 0.874);
}
#button:hover{
    background-color: rgb(225, 0, 255);
}
@media (min-width:600px) {
    #button{
        width: 10em;
    }
    .before{
        font-size:1em;
    }
}